<launch>
  <node name="trajector_orb" pkg="hector_trajectory_server4" type="hector_trajectory_server4"/>
  <node name="orb_slam2_stereo" pkg="orb_slam2_ros"
      type="orb_slam2_ros_stereo" args="
          $(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt
          $(find orb_slam2_ros)/ros/config/flightstereo.yaml"
      output="screen">
       <remap from="image_left/image_color_rect" to="/uav/camera/left/image_rect_color" />
       <remap from="image_right/image_color_rect" to="/uav/camera/right/image_rect_color" />

       <param name="publish_pointcloud" type="bool" value="true" />
       <param name="publish_pose" type="bool" value="true" />
       <param name="pointcloud_frame_id" type="string" value="world" />
       <param name="camera_frame_id" type="string" value="camera_link" />
  </node>
</launch>
