<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node name="rvizvisual" pkg="rviz" type="rviz" args="-d $(find rovio)/cfg/rviz.rviz"/>
  <!--node name="trajectory" pkg="hector_trajectory_server" type="hector_trajectory_server" /-->
  <node name="trajectory2" pkg="hector_trajectory_server2" type="hector_trajectory_server2" />
  <!--node name="trajectory3" pkg="hector_trajectory_server3" type="hector_trajectory_server3" /-->
  <node name="rgb2gray" pkg="rovio" type="rgb2gray.py"/>
  <!--node name="teleop" pkg="rovio" type="simple_angle_control.py"/-->

  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/flight.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/rovio_cam1.yaml"/>
  <remap from="/cam0/image_raw" to="/image_mono"/>
  <remap from="/imu0" to="/imu_data"/>
  </node>
</launch>
